@using HollywoodNoticias.Domain.Enum
@model HollywoodNoticias.Domain.DTO.UserDTO

@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <div class="row">

        <div class="col container mt-5">
            <img class="w-75 img-fluid" src="~/img/cadastrar.png"/>
        </div>

        <div class="col form-login">
            <h1 class="text-center mt-3 login-title">Cadastrar</h1>

            <hr class="w-75 mx-auto"/>
            <div class="row">
                <div class="w-75 container">
                    <form asp-action="Create" asp-controller="Users">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mt-2">
                            <label asp-for="nome" class="control-label login-title"></label>
                            <input  asp-for="nome" class="form-control" />
                            <span asp-validation-for="nome" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label asp-for="email" class="control-label login-title"></label>
                            <input asp-for="email" class="form-control" />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label asp-for="login" class="control-label login-title"></label>
                            <input asp-for="login" class="form-control" />
                            <span asp-validation-for="login" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label asp-for="senha" class="control-label login-title"></label>
                            <input asp-for="senha" type="password" class="form-control" />
                            <span asp-validation-for="senha" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2 ">
                            <label asp-for="perfil" class="control-label login-title"></label>
                            <select asp-for="perfil" class="form-control">
                                <option value="0">Selecione</option>
                                <option value="@PerfilEnum.Admin">Administrador</option>
                                <option value="@PerfilEnum.Padrao">Padrão</option>
                            </select>
                            <span asp-validation-for="perfil" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-4 btn-block mb-3">
                            <input type="submit" value="Cadastrar" class="btn btn-primary btn-block w-100" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
