@model IEnumerable<HollywoodNoticias.Domain.DTO.CategoriaDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Adicionar categoria</a>
</p>

<div class="bg-white p-2 ">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                <a class="btn btn-primary"  asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                <a class="btn btn-danger"  onclick="deleteRegistro(@item.id, 'Categoria', '/Categorias/Delete')">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>